image: Visual Studio 2017

version: '1.0.{build}'

branches:
  only:
  - master
  - Development

configuration:
  - Release

platform: Any CPU

environment:
  # Don't report back to the mothership
  DOTNET_CLI_TELEMETRY_OPTOUT: 1
  SNK_PASSPHRASE:
    secure: hAvbiLFI38bO0EdEXv77Xk0P3slfTlGq+jaD5JY0VaE=
  SNK_SALT:
    secure: F/vXSd1ELO8L1EkLnaFLgoWgayckxYQmtnWqa/CI05M=
  SNK_INIT:
    secure: i+0xK/acnRfh2XY8FjUR9LPlbP+HyPadahLxlrQnB58=


init:
- ps: $Env:LABEL = "CI" + $Env:APPVEYOR_BUILD_NUMBER.PadLeft(5, "0")

assembly_info:
  patch: true
  file: AssemblyInfo.cs
  assembly_version: '{version}'
  assembly_file_version: '{version}'
  assembly_informational_version: '{version}'

before_build:
- appveyor-retry dotnet restore -v Minimal
- ps: |
    if ($Env:SNK_PASSPHRASE -ne $null)
    {
      Write-Host "Creating SNK"
      C:\projects\jmespath-net\bin\EncryptDecryptFile.PS1
    }

build_script:
  - dotnet build "src\jmespath.net" -c %CONFIGURATION% --no-dependencies --version-suffix %LABEL%
  - ps: C:\projects\jmespath-net\src\jmespath.net.signed\update-version.ps1
  - cmd: IF DEFINED SNK_PASSPHRASE (dotnet build "src\jmespath.net.signed" -c %CONFIGURATION% --no-dependencies --version-suffix %LABEL%) ELSE (ECHO signed assembly building skipped because this is a pull request build)

after_build:
  - cmd: IF DEFINED SNK_PASSPHRASE (dotnet pack "src\jmespath.net.signed" -c %CONFIGURATION%) ELSE (ECHO NuGet package creation skipped because this is a pull request build)

test_script:
  - dotnet test "tests\jmespathnet.tests" -c %CONFIGURATION% --framework netcoreapp2.0
  - dotnet test "tests\jmespathnet.tests" -c %CONFIGURATION% --framework net452

artifacts:
  - path: '**\*.nupkg'
    name: NuGet package

deploy:
- provider: NuGet
  api_key:
    secure: 65U1dvMpKTETCAFFPcwzObPf64gzDHoY50J+ns/ovkmh4HilKz7maqNuMpvjXqm7
  skip_symbols: true
  artifact: /.*\.nupkg/
  on:
    branch: master

cache:
- '%USERPROFILE%\.nuget\packages'

on_finish:
